[paths]
ffmpeg = /usr/local/bin/ffmpeg
mp4box = /usr/local/bin/MP4Box
atomicparsley = /usr/local/bin/AtomicParsley
osascript = /usr/bin/osascript

[general]
extension = .m4v
debug = False
traktapi = 0

[makeMP4]
x264_crf_hd = 23
x264_crf_sd = 21
x264_preset = medium
x264_opts = b-adapt=2
aac_lib = libfdk_aac
aac_q_cmd = -vbr
aac_q = 5
delete_old = False

[tagMP4]
add_people = True
artwork_filename = artwork
itunes_match = 0.9
